<div style="background:#08311B;color:white; height:10vh;font-size:50px;display:flex;justify-content:flex-end; align-items:center; padding:5px">
    <form asp-controller="Home" asp-action="Index" method="get" style="margin:0;">
        <input type="image" src="~/images/exit.png" alt="登出"
               style="height:100px; width:100px; cursor:pointer; margin-right:10px; margin-top:30px; filter: invert(89%) sepia(26%) saturate(1110%) hue-rotate(177deg) brightness(100%) contrast(100%);"  />
    </form>
</div>