@{
	ViewData["Title"] = "登入";
}


<div style="background:#08311B;color:white; height:10vh;font-size:50px;display:flex;justify-content:flex-end; align-items:flex-end; padding:5px">買購</div>
<div style="background-image: url('/images/icon/shoppingcart.png');
            background-size: cover;
            background-position: center;
            height:80vh;
            display:flex;
            justify-content:center;
            align-content:center;">
	<div id="container" style="width:90%; max-width:400px; max-height:80vh; margin:130px auto 0 auto; background:#f4b64c; border-radius:15px; font-family:Arial, sans-serif; box-shadow:0 4px 10px rgba(0,0,0,0.3); margin-bottom:100px">

		<div style="display:flex; height:10%;">
			<div id="purchase" style="flex:2; background:#ff9c2e; color:white; display:flex; justify-content:center; align-items:center; cursor:pointer; transition: all 0.3s;border:1px solid black;border-top-left-radius:12px ;font-size:30px">
				買家
			</div>
			<div id="Sell" style="flex:1; background:#3b0f0f; color:white; display:flex; justify-content:center; align-items:center; cursor:pointer; transition: all 0.3s;border:1px solid black;border-top-right-radius:12px;font-size:20px">
				賣家
			</div>
		</div>
		
		<form style="padding:20px; display:flex; flex-direction:column; gap:15px; border:1px solid black; border-top-left-radius:0; border-top-right-radius:0; border-bottom-left-radius:12px; border-bottom-right-radius:12px; height:90%;"
			  method="post" asp-controller="Home" asp-action="Login">
			<label style="font-size:25px">帳號:</label>
			<input type="text" name = "account" placeholder="請輸入帳號" style="padding:10px; border-radius:20px; border:1px solid #ccc; outline:none;">
			<label style="font-size:25px">密碼:</label>
			<input type="password" name = "pw" placeholder="請輸入密碼" style="padding:10px; border-radius:20px; border:1px solid #ccc; outline:none;">
			<input type="hidden" id="identity" name="status" value="p"></input>
			@if (ViewBag.Error != null)
			{
				<p style="color:red">@ViewBag.Error</p>
			}
			<button type="submit" style="padding:10px; background:#333; color:white; border:none; border-radius:20px; cursor:pointer; font-weight:bold; margin-top:30px;">
				登入
			</button>
		</form>
		
	</div>
</div>
<div style="background:#08311b;height:10vh;"></div>

<script>
	const purchase = document.getElementById("purchase");
	const Sell = document.getElementById("Sell");

	purchase.addEventListener("click", () => {
		identity.value = "p";
		purchase.style.flex = "2";
		Sell.style.flex = "1";
		purchase.style.background = "#ff9c2e";
		Sell.style.background = "#3b0f0f";
		purchase.style.fontSize = '30px';
		Sell.style.fontSize = '20px';
	});

	Sell.addEventListener("click", () => {
		identity.value = "s";
		Sell.style.flex = "2";
		purchase.style.flex = "1";
		Sell.style.background = "#ff9c2e";
		purchase.style.background = "#3b0f0f";
		purchase.style.fontSize = '20px';
		Sell.style.fontSize = '30px';
	});
</script>
